@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
    bg-gray-400 hover:bg-rose-500 dark:bg-gray-700 
    text-rose-400 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg;
  }

  .canvas-icons {
    @apply relative flex items-center justify-center 
    h-8 w-8 mt-2 mb-2 mx-auto ml-3 
    bg-gray-400 hover:bg-rose-500 dark:bg-gray-400 
    text-rose-400 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg;
  }
  
  .upload-icon {
    @apply text-rose-500;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }
  
  .canvas-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max bottom-10 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-bottom;
  }

  .canvas-icons:hover .canvas-tooltip {
    @apply scale-100;
  }
  
  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }

  .top-navigation {
    @apply flex flex-row items-center justify-between 
    bg-gray-300 dark:bg-gray-900 bg-opacity-90 
    w-full h-16 
    m-0 
    shadow-lg;
  }

  .content-container-icons {
    @apply transition duration-300 ease-in-out 
    hover:text-rose-500 
    cursor-pointer;
  }

  .top-navigation-icon {
    @apply text-gray-500
    mr-3 ml-4
    transition duration-300 ease-in-out 
    hover:text-rose-500 
    cursor-pointer;
  }

  .title-hashtag {
    @apply text-lg tracking-wider font-semibold text-gray-500 
    ml-2 my-auto;
  }

  .title-text {
    @apply text-xl text-gray-500 tracking-wider font-semibold text-opacity-80 
    mr-auto ml-2 my-auto 
    transition duration-300 ease-in-out;
  }

  .content-container {
    @apply flex flex-col lg:flex-row bg-gray-300 dark:bg-gray-700 h-full w-full overflow-hidden;
  }

  .content-list {
    @apply flex flex-col lg:flex-row h-full w-full 
    mt-0 ml-4 mr-4 pb-12;
  }

  .grid {
    @apply w-full;
  }
}

#my-canvas {
  @apply w-full h-full p-2;
}

.canvas-side-elements {
  @apply text-center rounded-lg border border-solid border-black p-4 mb-4 h-1/3;
}

.canvas-bottom-element {
  @apply bg-slate-100 text-center rounded-lg border flex justify-between items-center w-full border-solid border-black;
}

.canvas-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max bottom-8 rounded-md shadow-md
  text-white bg-gray-900 
  text-xs font-bold 
  transition-all duration-100 scale-0 origin-bottom;
}

.canvas-icons:hover .canvas-tooltip {
  @apply scale-100;
}

@media (min-width: 640px) {
  .content-container {
    @apply flex-row;
  }
}
